* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{

    font-family: "Roboto";
    background-color: #ebebeb;
    
}


.main-products{

    width: 90%;
    margin: auto;


}

.main-header{

    background-color: #EAC926;
    padding: 20px;


}

.main-header-top-var{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.logo{

    width: 40%;
    display: block;

}

.form-search-bar{

    margin: 0;
    padding: 0;
    width: 50%;
    align-self: center;
    position: relative;

}

.search-bar{

    background-color: white;
    color: rgba(0, 0, 0, 0.443);
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;

}

.search-icon{

    background-color: white;
    padding: 4px;
    height: 30px;
    position: absolute;
    right: 1px;

}

.copy-header{

    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;

}

.main-navbar{

    display: none;

}

.main-navbar ul{

    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a{

    text-decoration: none;
    color: black;

}

.hamburguer-menu{

    display: block;
    background-color: #1259c3;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-size: 24px;
    max-width: max-content;
    margin: auto;

}

.banner-header{

    width: 100%;

}



.create-form{

    padding: 20px 15vw;
    text-align: center;
    max-width: 1920px;
    margin: auto;

}

.title-registro{

    font-weight: 400;
    margin-bottom: 30px;

}

.icon-login{

    display: block;
    text-align: center;
    color: #1259c3;
    margin: 20px 0;

}

.icon-registro{

    display: block;
    text-align: center;
    color: #1259c3;
    margin-top: 20px;

}

.control-formulario{

    position: relative;

}

.control-formulario label{

    display: block;
    text-align: left;
    margin-bottom: 2px;


}

.control-formulario p{

    text-align: left;
    margin-bottom: 2px;

}



.form-boxes{

    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-radius: 4px;
    padding: 5px;

}

.radio-control {

    text-align: left;
    margin-bottom: 20px;
}

.radio-control p{

    text-align: left;
    margin-bottom: 6px;

}

.checkbox-control{

    margin-bottom: 10px;

}

.radio-control label{

    margin-right: 6px;

}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    position: relative;
    bottom: 10px;
    right: 2px;
}
  
input:invalid + .error-message {
    display: block;
}

.boton-reset{

    display: block;
    width: 40%;
    margin: auto;
    font-family: "Roboto";

}

.boton-send-login{

    margin: 5px 0;
    width: 70%;
    background-color: #1259c3;
    color: white;
    border-radius: 6px;
    padding: 5px;
    font-family: "Roboto";
    transition: all 1s;

}

.boton-send-login:hover{

    background: #0022AA;

}

.boton-send-registro{

    margin: 5px 0;
    width: 70%;
    background-color: #1259c3;
    color: white;
    border-radius: 6px;
    padding: 5px;
    font-family: "Roboto";

}


.product-article{

    margin-bottom: 10px;
    
    background-color: white;

}

.product-article:hover{

    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}


.main-product-section h2{

    font-size: 24px;
    font-weight: 400;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 15px;

}

.main-product-section img{

    width: 100%;

}

.product-description{

    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.truck-icon{

    color: #39b54a;
    border: solid 1px #39b54a;
    border-radius: 100%;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 1s;

}

.truck-icon:hover{

    transform: rotateZ(-90deg)

}

.main-footer{

    background-color: white;
    padding-top: 3%;

}

.main-footer-section{

    padding: 15px;
    width: 70%;
    margin: auto;
    margin-top: 30px

}

.icons-footer{

    display: block;
    color: #1259c3;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;

}

.titulos-pie{

    color: #363535;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;

}

.textos-pie{

    text-align: center;
    color: #666;
    margin-top: 0;
    font-size: 12px;
    margin-inline: auto;
    width: 82%;

}

#copyright{

    color: #666;
    padding-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;

}

.precios{

    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    width: 30%;
    margin: 10px 0;

}

.descuentos{

    font-size: 16px;
    margin-top: 0;
    color: #39b54a;
    width: 70%;
    margin: 10px 0;

}

.descripciones{

    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 10px 0;

}


@media (min-width: 768px){


    .logo{

        width: 30%;

    }

    .search-bar{

        background-color: white;
        color: rgba(0, 0, 0, 0.443);
        padding: 5px;
        font-weight: 400;
        border-radius: 3px;
        border: solid 1px black;
    
    }

    .copy-header{

        margin: 0;
        width: 30%;

    }


    .hamburguer-menu{

        display: none;

    }

    .main-navbar{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;

    }

    .main-navbar ul{

        display: flex;
        flex-wrap: wrap;

    }

    .main-navbar li{

        margin: 0 5px;

    }

    .create-form{

        padding: 20px 25vw;

    }

    .form-search-bar{

        width: 20%;

    }

    .main-product-section{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .main-product-section h2{

        width: 100%;

    }

    .main-product-section article{

        width: 45%;

    }

    .product-description:hover .descripciones{
    
        display: block;
    
    }

    .main-footer{

        padding-top: 5%;

    }

    .textos-pie{

        width: 50%;
        margin: auto;

    }

}

@media (min-width: 1280px){

    .main-header{

        padding: 20px 60px;

    }


    .logo{

        width: 25%;

    }

    .search-bar{

        font-size: 18px;
        padding: 2px;

    }

    .create-form{

        padding: 20px 30vw;

    }

    .main-product-section article{

        width: 22%;

    }

    .main-footer{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 2%;

    }

    .main-footer-section{

        width: 33%;

    }

    .textos-pie{

        width: 70%;

    }

    .copyright{

        margin-bottom: 20px;

    }

    .main-navbar li{
    
        font-size: 18px;
        margin: 0 10px;

    }

    .precios{

        width: 30%;

    }
    
    .descuentos{

        width: 60%;
  
    }

}

