* {
    box-sizing: border-box;
}

body{

    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-color: #ebebeb;

}

main{

    width: 90%;
    margin: auto;

}

.main-header{

    background-color: #EAC926;
    padding: 20px;

}

.logo{

    width: 150px;
    display: block;

}

.main-search-bar{

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.search-bar{

    background-color: white;
    color: rgba(0, 0, 0, 0.443);
    padding: 3px;
    padding-right: 10px;
    font-weight: 400;
    border-radius: 2px;
    border: solid 1px black;
    max-width: 55%;

}

.search-icon{

    display: block;
    background-color: white;
    border-radius: 2px;
    border: solid 1px black;
    padding: 5px 1px;
    margin: 0;

}

.copy-header{

    text-align: center;

}

.main-navbar{

    display: none;

}

.main-navbar ul{

    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a{

    text-decoration: none;
    color: black;

}

.hamburguer-menu{

    display: block;
    background-color: #1259c3;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-size: 24px;
    max-width: max-content;
    margin: auto;

}

.banner-header{

    width: 100%;

}

.main-product-section article{

    margin-bottom: 10px;

}



.main-product-section h2{

    font-size: 24px;
    font-weight: 400;
    color: #666666;

}

.main-product-section img{

    width: 100%;

}

.product-description{

    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;

}

.product-description i{

    color: #39b54a;
    border: solid 1px #39b54a;
    border-radius: 100%;
    padding: 16px 14px;

}

.main-footer-section{

    padding: 15px;
    width: 70%;
    margin: auto;
    margin-top: 30px

}

.icons-footer{

    display: block;
    color: #1259c3;
    margin: auto;
    text-align: center;

}

.titulos-pie{

    color: #363535;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;

}

.textos-pie{

    text-align: center;
    color: #666;
    margin-top: 0;

}

#copyright{

    color: #666;
    padding-left: 20px;

}

.precios{

    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;

}

.descuentos{

    font-size: 16px;
    margin-top: 0;
    color: #39b54a;

}

.descripciones{

    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #666666;

}

@media (min-width: 480px){

    .descripciones{

        display: block;

    }

    .hamburguer-menu{

        display: none;

    }

    .main-navbar{

        display: block;

    }

}