* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{

    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-color: #ebebeb;

}

main{

    width: 90%;
    margin: auto;

}

.main-header{

    background-color: #EAC926;
    padding: 20px;


}

.main-header-top-var{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.logo{

    width: 40%;
    display: block;

}

.search-bar{

    background-color: white;
    color: rgba(0, 0, 0, 0.443);
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 6px;
    max-width: fit-content;

}

.search-icon{

    background-color: white;
    padding: 2px;

}

.copy-header{

    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;

}

.main-navbar{

    display: none;

}

.main-navbar ul{

    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a{

    text-decoration: none;
    color: black;

}

.hamburguer-menu{

    display: block;
    background-color: #1259c3;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-size: 24px;
    max-width: max-content;
    margin: auto;

}

.banner-header{

    width: 100%;

}

.main-product-section article{

    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}



.main-product-section h2{

    font-size: 24px;
    font-weight: 400;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 15px;

}

.main-product-section img{

    width: 100%;

}

.product-description{

    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.product-description i{

    color: #39b54a;
    border: solid 1px #39b54a;
    border-radius: 100%;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}

.main-footer{

    margin-top: 10%;

}

.main-footer-section{

    padding: 15px;
    width: 70%;
    margin: auto;
    margin-top: 30px

}

.icons-footer{

    display: block;
    color: #1259c3;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;

}

.titulos-pie{

    color: #363535;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;

}

.textos-pie{

    text-align: center;
    color: #666;
    margin-top: 0;

}

#copyright{

    color: #666;
    padding-left: 5%;
    margin: 20px 0;

}

.precios{

    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    width: 30%;
    margin: 10px 0;

}

.descuentos{

    font-size: 16px;
    margin-top: 0;
    color: #39b54a;
    width: 70%;
    margin: 10px 0;

}

.descripciones{

    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 10px 0;

}

@media (min-width: 768px){


    .logo{

        width: 30%;

    }

    .search-bar{

        background-color: white;
        color: rgba(0, 0, 0, 0.443);
        padding: 5px;
        font-weight: 400;
        border-radius: 3px;
        max-width: fit-content;
        border: solid 1px black;
    
    }

    .copy-header{

        margin: 0;
        width: 30%;

    }


    .hamburguer-menu{

        display: none;

    }

    .main-navbar{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;

    }

    .main-navbar ul{

        display: flex;
        flex-wrap: wrap;

    }

    .main-navbar li{

        margin: 0 5px;

    }

    .main-product-section{

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .main-product-section h2{

        width: 100%;

    }

    .main-product-section article{

        width: 45%;

    }

    .descripciones{

        display: block;

    }

    .textos-pie{

        width: 50%;
        margin: auto;

    }



}

@media (min-width: 1280px){

    .main-header{

        padding: 20px 60px;

    }


    .logo{

        width: 30%;

    }

    .search-bar{

        font-size: 18px;
        padding: 2px;

    }

    .main-product-section article{

        width: 22%;

    }

    .main-navbar li{

        margin: 0 10px;

    }

    .precios{

        width: 30%;

    }
    
    .descuentos{

        width: 60%;
  
    }

}

