<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
    
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            
            </ul>
    
            <ul>
    
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis Compras</a></li>
    
            </ul>
        </nav>
    </header>
    
    <main>

        <section>

            <h2>Basado en tu última visita</h2>
            
            <article>

                <img src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p class="negrita">Cafetera Moulinex</p> 

            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% off</p>
                <p class="negrita">MacBook Pro 2019</p>


            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% off</p>
                <p class="negrita">Samsung Galaxy S10</p>


            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% off</p>
                <p class="negrita">SmarTv Samsung 43"</p>

            </article>

        </section>

        <section>

            <h2>Sección de Ofertas</h2>

            <article>

                <img src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p class="negrita">Cafetera Moulinex</p> 

            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% off</p>
                <p class="negrita">MacBook Pro 2019</p>

            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% off</p>
                <p class="negrita">Samsung Galaxy S10</p>


            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200</p>
                <p>5% off</p>
                <p class="negrita">SmarTv Samsung 43"</p>

            </article>

        </section>

    </main>

    <footer>

        <section>

            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section>

            <h3>Envío Gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>

            <h3>Seguridad de prinicipioa fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>

        </section>

        <section>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
</body>
</html>