<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
        <a id="barra-busqueda">Buscar productos, marcas</a><br>
        <a class="fa-solid fa-magnifying-glass fa-lg search-icon"></a>
        <p id="banner1"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
    
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            
            </ul>
    
            <ul>
    
                <li><a href="#">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
            </ul>

            <div class="burger-menu">
                <p class="fas fa-bars fa-2x menu-hamburguesa"></p>
            </div>

        </nav>
    </header>
    
    <main>

        <section>

            <h2>Basado en tu última visita</h2>
            
            <article>

                <img src="/images/img-cafetera-moulinex.jpg">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="negrita descripciones">Cafetera Moulinex</p> 

            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="negrita descripciones">MacBook Pro 2019</p>


            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="negrita descripciones">Samsung Galaxy S10</p>


            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="negrita descripciones">SmarTv Samsung 43"</p>

            </article>

        </section>

        <section>

            <h2>Sección de Ofertas</h2>

            <article>

                <img src="/images/img-cafetera-moulinex.jpg">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="negrita descripciones">Cafetera Moulinex</p> 

            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="negrita descripciones">MacBook Pro 2019</p>

            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="negrita descripciones">Samsung Galaxy S10</p>


            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="negrita descripciones">SmarTv Samsung 43"</p>

            </article>

        </section>

    </main>

    <footer>

        <section>
            <p class="fa-solid fa-credit-card fa-4x icons-footer"></p>
            <h3 class="titulos-pie">Pagá con tarjeta o en efectivo</h3>
            <p class="textos-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section>

            <p class="fa-solid fa-gift fa-4x icons-footer"></p>
            <h3 class="titulos-pie">Envío Gratis desde $ 2.500</h3>
            <p class="textos-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>

            <p class="fa-solid fa-user-shield fa-4x icons-footer"></p>
            <h3 class="titulos-pie">Seguridad de prinicipio a fin</h3>
            <p class="textos-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>

        </section>

        <section>

            <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>
</body>
</html>