<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">

        <div class="main-header-top-var">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
            <form class="form-search-bar">
                <input class="search-bar" placeholder="Buscar productos...">
                <button type="submit" class="fa-solid fa-magnifying-glass search-icon"></button>
            </form>

            <p class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Comprá en cuotas y sin tarjeta de credito
            </p>
        </div>

        <nav class="main-navbar">
            <ul>
    
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            
            </ul>
    
            <ul>
    
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
            </ul>


        </nav>
        
        <p class="fas fa-bars hamburguer-menu"></p>

    </header>
    
    <img src="/images/img-home-banner.jpg" alt="" class="banner-header">


    <main class="main-products">


        <section class="main-product-section">

            <h2>Basado en tu última visita</h2>
            
            <article class="product-article">

                <img src="/images/img-cafetera-moulinex.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p> 
                </div>        
                
            </article>

            <article class="product-article">

                <img src="/images/img-macbook-pro-2019.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>

            </article>

            <article class="product-article">

                <img src="/images/img-samsung-galaxy-s10.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
                

            </article>

            <article class="product-article">

                <img src="/images/img-tv-samsung-smart.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmarTv Samsung 43"</p>
                </div>


            </article>

        </section>

        <section class="main-product-section">

            <h2>Sección de Ofertas</h2>

            <article class="product-article">

                <img src="/images/img-cafetera-moulinex.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p> 
                </div>

            </article>

            <article class="product-article">

                <img src="/images/img-macbook-pro-2019.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>      

            </article>

            <article class="product-article">

                <img src="/images/img-samsung-galaxy-s10.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>

            </article>

            <article class="product-article">

                <img src="/images/img-tv-samsung-smart.jpg">

                <div class="product-description">
                    <i class="fa-solid fa-truck truck-icon"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmarTv Samsung 43"</p>
                </div>
            
            </article>

        </section>

    </main>

    <footer class="main-footer">

        <section class="main-footer-section">

            <p class="fa-solid fa-credit-card icons-footer"></p>
            <h3 class="titulos-pie">Pagá con tarjeta o en efectivo</h3>
            <p class="textos-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section class="main-footer-section">

            <p class="fa-solid fa-gift icons-footer"></p>
            <h3 class="titulos-pie">Envío Gratis desde $ 2.500</h3>
            <p class="textos-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section class="main-footer-section">

            <p class="fa-solid fa-user-shield icons-footer"></p>
            <h3 class="titulos-pie">Seguridad de prinicipio a fin</h3>
            <p class="textos-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>

        </section>


        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>