<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    
    <header class="main-header">

        <div class="main-header-top-var">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
            <form class="form-search-bar">
                <input class="search-bar" placeholder="Buscar productos...">
                <button type="submit" class="fa-solid fa-magnifying-glass search-icon"></button>
            </form>
            <p class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Comprá en cuotas y sin tarjeta de credito
            </p>
        </div>

        <nav class="main-navbar">
            <ul>
    
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            
            </ul>
    
            <ul>
    
                <li><a href="/register.html">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
            </ul>


        </nav>
        
        <p class="fas fa-bars hamburguer-menu"></p>

    </header>

    <main>

        
        
 

        <form action="/home.html" method="POST" class="create-form">

            <i class="fa-solid fa-user fa-4x icon-login"></i>

            <div class="control-formulario">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-boxes">
            </div>

            <div class="control-formulario">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrsena" id="contrasena" class="form-boxes">
            </div>

            <button type="submit" class="boton-send-login">Ingresar</button>

        </form>

    </main>

    <footer class="main-footer">

        <section class="main-footer-section">

            <p class="fa-solid fa-credit-card fa-2x icons-footer"></p>
            <h3 class="titulos-pie">Pagá con tarjeta o en efectivo</h3>
            <p class="textos-pie">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        </section>

        <section class="main-footer-section">

            <p class="fa-solid fa-gift fa-2x icons-footer"></p>
            <h3 class="titulos-pie">Envío Gratis desde $ 2.500</h3>
            <p class="textos-pie">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section class="main-footer-section">

            <p class="fa-solid fa-user-shield fa-2x icons-footer"></p>
            <h3 class="titulos-pie">Seguridad de prinicipio a fin</h3>
            <p class="textos-pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>

        </section>

        <section>

            <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>

    </footer>

</body>
</html>